---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-stack: 'Roboto', Helvetica, Arial, sans-serif;
$header-font: 'Montserrat', Helvetica, Arial, sans-serif;
$paragraph-font-stack: 'Merriweather', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$header-width: 350px;
$content-width: calc(100% - 350px);

$spacing-unit:     30px;

$text-color:       #111111;
$background-color: #fdfdfd;
$brand-color:      #029CB8;
$secondary-color:  #fdcb1c;

$grey-color:       #363636;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
