<div class="ham-box"><h2>Dan Cortes</h2></div>
<div class="hammy">
  <div class="ham-line ham-1"></div>
  <div class="ham-line ham-2"></div>
  <div class="ham-line ham-2x"></div>
  <div class="ham-line ham-3"></div>
</div>


<header class="site-header">

  <div class="header-wrapper">

    <a class="home" href="{{ site.baseurl }}/"><img class="avatar" src="/assets/img/avatar.jpeg">
    <span class="site-title">Dan Cortes</span></a>
    <p class="site-subhead">Digital Strategy,<br>Development &amp; Marketing</p>

    <nav class="site-nav">
      {% assign nav_sorted = (site.pages | sort: 'weight') %}
      <ul>
        {% for page in nav_sorted %}
          {% if page.title %}
            <a class="page-link" href="{{ page.url }}"><li><span>{{ page.title }}</span></li></a>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

  </div>

</header>