/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/**
 * Basic styling
 */
body {
    font-family: $base-font-stack;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;

    @media (max-width: $mobile) {
        font-size: $small-font-size;
    }
}

p {
    font-family: $paragraph-font-stack;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
    max-width: 100%;
}

.img-block {
    display: block;
    padding: 20px;
    margin-bottom: 35px;

    @media (max-width: $mobile) {
        padding: 0px;
        margin-bottom: 25px;
    }
}

.img-circle {
    border-radius: 50%;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    font-family: $paragraph-font-stack;

    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h2, h3, h4, h5, h6 {
    margin-top: $spacing-unit - ($spacing-unit / 6);
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: #9603C0;
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Clearfix
 */
.clearfix, %clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Forms
**/

form {
    max-width: 550px;
    margin: 0 auto;
    @extend %clearfix;

    label {
        font-weight: bold;
    }

    input, textarea {
        display:block;
        width: 100%;
        font-size: 1em;
        font-weight: 300;
        padding: 5px 10px;
        margin-bottom: 15px;
    }

    input[type=submit] {
        width: 135px;
        height: 50px;
        float: right;
        color: white;
        background-color: $brand-color;
        border: none;
        cursor: pointer;
        transition: 0.25s ease;

        &:hover {
            color: $secondary-color;
            background-color: $tertiary-color;
        }
    }
}

/**
 * Two-up lists
**/

.two-up-list {
    .list-left {
        width: calc(50% - 30px);
        float: left;

        @media (max-width: $mobile) {
            width: 100%;
            margin-bottom: 0;
            float: none;
        }
    }

    .list-right {
        width: calc(50% - 30px);
        float: right;

        @media (max-width: $mobile) {
            width: 100%;
            float: none;
        }
    }
}

/**
 * Text styles
 **/

 .love {
    color: crimson;
 }

 @media (max-width: $mobile) {
    .rwd-line {
        display: block;
    }
}