/**
 * Site header
 */
.site-header {
    position: fixed;
    width: $header-width;
    height: 100vh;
    top: 0;
    left: 0;
    text-align: center;
    background-color: $brand-color;

    .header-wrapper {
        position: relative;
        padding: 0 10%;
        top: 50%;
        transform: translateY(-50%);
    }

    .avatar {
        border-radius: 50%;
        width: 80%;
        display: block;
        margin: 0 auto 20px;
    }

    .home:hover {
        text-decoration: none;
    }

    .site-title {
        font-family: $header-font;
        color: $grey-color;
        font-size: 2em;
        border-bottom: 3px solid $brand-color;
        transition: border-bottom 0.25s;

        &:hover {
            border-bottom: 3px solid rgba(54,54,54,1);
        }
    }

    .site-subhead {
        color: white;
        margin: 5px 0 20px;
    }

    .site-nav {
        padding: 40px 0;

        a {
            color: white;
            text-decoration: none;
            padding-bottom: 5px;
        }

        ul {
            list-style-type: none;
            margin: 0;
        }

        li {
            font-size: 1.4em;
            font-weight: lighter;
            margin-bottom: 25px;
        }

        span {
            padding-bottom: 6px;
            border-bottom: 2px solid $brand-color;
            transition: border-bottom 0.5s ease;

            &:hover {
                border-bottom: 2px solid rgba(253,203,28,1);
            }
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    background-color: $grey-color;
    height: $footer-height;

    .footer-wrapper {
        position: relative;
        text-align: center;
        padding: 30px 0;

        p {
        font-family: $base-font-stack;
        color: $grey-color-light;
        margin-bottom: 10px;
        }

        ul {
            margin: 0;
        }

        li {
            display: inline;
            margin: 0 10px;
            font-family: $base-font-stack;
        }

        a {
            color: #9c9c9c;
        }
    }
}

/**
 * Page content
 */
body {
    background-color: $tertiary-color;
}

.page-content {
    padding: 0;
    width: $content-width;
    float: right;

    .wrapper {
        margin: 5px;
        background-color: $background-color;
        border: 5px solid $secondary-color;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;

        a {
            color: $brand-color;
            font-size: 1.5em;
            font-weight: 400;

            &:visited {
                color: #9603C0;
            }
        }

        p {
            margin-bottom: 0;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */

.post {
    max-width: 800px;
    min-height: calc(100vh - #{$footer-height} - 20px);
    margin: 0 auto;
    padding: ($spacing-unit * 4) ($spacing-unit * 2) ($spacing-unit * 2);
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 20px;
    }
}


/**
 * Homepage
 */
.homepage {
    .hero {
        height: 70vh;
        min-height: 500px;
        background-image: url('../assets/img/hero.jpg');
        background-size: cover;
        padding: 0 60px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.8));
        }

        .pitch {
            max-width: 600px;
            margin: 0 auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            .page-heading {
            color: $secondary-color;
            font-size: 4em;
            font-weight: bold;
            line-height: 1.2;
            }

            p {
                color: white;
                line-height: 2;
            }

            a#reach-out {
                display: block;
                margin: 0 auto;
                width: 200px;
                height: 50px;
                line-height: 48px;
                color: white;
                text-align: center;
                border: 2px solid white;
                margin-top: 25px;
                transition: background-color 0.5s;

                &:hover {
                    color: $text-color;
                    background-color: white;
                    text-decoration: none;
                }
            }
        }
    }

    .latest-post {
        background-color: $tertiary-color;

        .content {
            max-width: 800px;
            min-height: calc(30vh - #{$footer-height});
            padding: $spacing-unit ($spacing-unit * 2);
            margin: 0 auto;

            h2 {
                font-size: 2em;
                font-weight: 300;
                color: white;
            }

            a {
                font-size: 1.5em;
                font-weight: 400;
                color: $brand-color;
            }

            p {
                margin-bottom: 0;
                color: white;
            }

            .post-meta {
                color: $secondary-color;
            }
        }
    }

    #homepage-contact-form {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: $content-width;
        height: 100vh;
        background-color: rgba(0,0,0,0.9);
        z-index: $z-max;

        form {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        label, p, h2, a {
            color: white;
        }

        h2 {
            font-size: 3em;
        }

        #reach-out-dismiss {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}